#div1 {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 1px solid #aaaaaa;
	margin-left: auto ;
	margin-right: auto ;
	float: left;
	margin-left: 80px;
	
	
}

#list {
	
	text-align:center;
}